
/* Variables */

$font-color: #515151;
$primary-one: #0079A4;
$primary-two: gray;

$header-font-color: white;

$heading-font-color: #235E6F;
$heading-font: Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;

$border-color: #0079a4;
$default-border: 3px solid $border-color;
$content-border: 4px solid grey;
$content-width: 60%;
$background-color: #f4f4f4;


/* Generic Classes */

@mixin bigfont
{
  font: 20px Corbel, sans-serif;
  color: $heading-font-color;
  font-weight: bold;
}

@mixin notoprounded
{
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  
}

@mixin shadow
{
  @include dropshadow(5px);
}

@mixin noshadow
{
  -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
  
}

/* Functions */

@mixin rounded($radius: 10px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin toprounded($radius: 10px) {
    -webkit-border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topright: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin bottomrounded($radius: 10px) {
    -webkit-border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin dropshadow($h: 3px, $v: 3px, $blur: 3px, $color:#666)
{
  -moz-box-shadow: $h $v $blur $color;
	-webkit-box-shadow: $h $v $blur $color;
	box-shadow: $h $v $blur $color;
}

@mixin bordered($width: 3px, $color: $border-color)
{
  border: $width solid $color;
}


.border
{
  @include bordered;
}

@mixin box
{
  @include bordered;
}

.rounded
{
  @include rounded;
}

.box-rounded
{
  @include bordered;
  @include rounded;
}

@mixin padded
{
  padding: 15px;
}

@mixin box-shadow
{
  @include dropshadow;
  @include bordered;
}

@mixin box-shadow-padded
{
  @include box-shadow;
  @include padded;
  @include rounded;
}

.margin
{
  margin: 10px;
  margin-bottom: 20px;
}

.colorbox
{
  @include box;
  background-color: $primary-one;
}

.rounded-small
{
  @include rounded(3px);
}

.rounded-big
{
  @include rounded(20px);
}

.gray
{
  background-color: gray;
  border-color: gray;
}

.light
{
  background-color: #C4C4C4;
  border-color: #C4C4C4;
}

@mixin light-border
{
  border-color: #C4C4C4;
}

.center
{
  margin-left: auto;
  margin-right: auto;
}

@mixin thick-border
{
  @include bordered(5px);
}

// should be classes
#spacer
{
  height: 100px;
}

#spacer50
{
  height: 50px;
}

body
{
  font-family:Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  font-size: 12pt;
  color: $font-color;
  line-height: 1.5;
  background-image: url("/images/cross-hatch.png");
  min-width: 800px;
}

h1, h2, h3, h4, h5, h6
{
  text-shadow: #444444 1px 1px 1px;
  font-family: $heading-font;
  color: $heading-font-color;
  a {
      text-decoration: none;
  }
}

h1 {
    font-size: 16pt;
}
h2 {
    font-size: 12pt;
    padding-bottom: 10px;
    border-bottom: 2px solid $primary-two;
}
h3 {
    font-size: 12pt;
}

#content
{
  min-height: 400px;
  width: $content-width;
  margin: -100px auto 50px auto;
  padding: 40px;
  padding-top: 200px;
  border: $content-border;
  background-color: $background-color;
  @include bottomrounded;
}

a
{
  color: $heading-font-color;
}

p
{
  margin: 0.5em 0px 0.5em 0px;
  line-height: 1.5;
}

ul
{
  margin: 0.5em 0px 0.5em 0px;
  line-height: 1.5;
  text-indent: -1em;
}

/* Page Specific */

div.section
{
  margin-top: 30px;
  margin-bottom: 30px;
}

div.details
{
  margin-bottom: 20px;
  div.detail {
    padding-top: 10px;
    padding-bottom: 12px;
    width: 50%;

    span.label {
      float: left;
      width: 100px;
      text-align: left;
      font-weight: bold;
      font-size: 11pt;
    }

    span.detail {
      float: right;
      width: 60%;
      text-align: right;
    } 
  }
}

div.institution
{
  margin-top: 20px;  
}

div.experience
{
  margin-top: 20px;

  span.business {
    text-align: left;
    font-weight: bold;
    display: block;
  }

  span.dates {
    font-weight: bold;
    }
}

#header
{
  background-color: gray;
  height: 70px;
  #nav
  {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    @include bigfont;
    @include bordered(5px, gray);
    @include rounded(25px);
    @include notoprounded;
    background-color: $primary-one;
    padding: 80px 20px 10px 20px;
    text-align: center;
    min-width: 600px;
    
    span, span.first
    {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 15px;
      padding-top: 10px;
      @include toprounded;
      a
      {
        color: $header-font-color;
        text-decoration: none;
      }
    }
    span.first 
    {
      border-left: none;
    }
    span:hover
    {
      background-color: $primary-two;
    }
  }

}

#goals
{
  @include box-shadow-padded;
  font-family: $heading-font;
  font-size: 20px;
  color: white;
  background-color: $primary-one;
  position: absolute;
  left: 60%;
  right: 150px;
  top: 170px;

  p { margin-bottom: 10px; }
  
  span.title
  {
    font-style: italic;
    font-weight: bold;
  }
  
  a {color: white; }
}

#footer
{
    display: none;
    height: 80px;
    border: 4px solid gray;
    width: $content-width;
    margin: -40px auto 0 auto;
    background-color: $primary-one;
    @include rounded;
}

div.interest
{
  margin: 20px;
  width: auto;
  font-size: 20px;
  img
  {
    float: left;
    margin: 0 20px 20px 0;
  }
  img.nofloat 
  {
    float: none;
  }
}

ul
{
  list-style:disc inside none;
  padding: 0;
  margin-left: 1em;
}

div.reference
{
  margin-bottom: 10px;
}

p.reference
{
  font-weight: bold;
}

div#clicky
{
  background-color: $background-color;
  position: relative;
  text-align: center;
  border-top: 3px solid $primary-one;
  border-bottom: 3px solid $primary-one;
  padding: 10px 0 10px 0; 
}

.hover
{
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  margin: 3px;
}

.hover-hover
{
  @include box;
  @include rounded;
  background-color: gray;
}

#interest-container
{
  margin-top: 40px;
}

div.education
{
  margin-top: 70px;
}

img#logo
{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

div#carousel
{
  position: absolute;
  left: $content-width + 350;
  top: 200px;
  @include box;
  @include light-border;
  @include thick-border;
  @include rounded;
  padding: 20px;
  padding-left: 60px;
  width: 210px;
  z-index: -1;
}

/* Disqus hacks */

#disqus_thread ul
{
    text-indent: 0;
}