!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title
    = stylesheet_link_tag "normalize"
    = stylesheet_link_tag "site"
  %body
    #header
      #nav
        %span.first
          %a{:href => "/index.html"} Home
        %span
          %a{:href => "/blog.html"} Blog
        %span
          %a{:href => "/resume.html"} Resume
        %span
          %a{:href => "/projects.html"} Projects
        %span
          %a{:href => "/tech.html"} Tech I Like
