#blog
  - Dir["source/blog/*.markdown"].each do |file|
    %p
      %h2
        %a{:href => "/blog/" << file.split("/").last.split(".")[0..-2].join(".")}
          = file.split(".").first.split("/").last.titleize

