.box.rounded.padded.margin
  %h2
    %a{:href => "./pages/experimental/pdfslideshow.html"} PDF Slideshow with jQuery
.box.rounded.padded.margin
  %h2
    %a{:href => "./pages/experimental/savannah.html"} Raphael, vector images & events