#whoami
  %h2 Things I Like:
  %ul
    %li Berlin
    %li Javascript
    %li Cheesecake!
    %li Dynamic languages (js, ruby, I learned scheme once, clojure seems to be all the rage, oh, AND smalltalk! Of course)
    %li Ubuntu (oh those crazy wobbly windows).
#whatisthis
  %h2 What is this?
  %p This is a small showcase of my javascript skills.
  %p It is also a corner of the internet for me to experiment with various technologies, mainly in the browser. Many of the things that pique my interest are not going to be available pre IE9, so alot of this wont work in most IE browsers curently in the wild.
#whatimabout
  %h2 What am I about?
  %ul
    %li Open source is cool, because you don't always need 4000 different designs for a spoon, & you don't always need to pay $100 for one.
    %li Closed source is fine too, because not everything is a spoon, & programmers are expensive. It's just not as fun as open source.
    %li Eventually everything will become relatively cheap & free (speech?) because...
    %li Atoms are the new bits, eventually alot will be changed because of this...
    %li
      But hopefully not
      = succeed "." do
        %a{:href => "http://en.wikipedia.org/wiki/Grey_goo"} too radically.
    %li I am a little surprised that web is where the future is at, but it appears that way. It's looking alot cooler these days anyway.
#whatiwilldo
  %h2 Things I will eventually do
  %ul
    %li
      Write an interpreter/compiler/lexer/parser (in js) like
      = succeed "." do
        %a{:href => "http://jashkenas.github.com/coffee-script/"} Coffee Script
      Or at least learn somewhat how those things work. Or get a patch accepted to coffee script. Or use coffee script. In a real project.
    %li Dabble in some kind of /(visual)? programming (language | IDE | debugger | CLOUDTHANG)/ utilising nodejs & bespin & maybe coffee script
    %li Code for at least 20 hrs a week on stuff I want to.. maybe one day...
    %li Travel through Nepal & India
