%h1 Greets!

%p
  The name is Nicholas Hemsley.

%p
  Intrepid hacker,
  citizen of Fremantle,
  surfer,
  gardener,
  some-time guitarist,
  beer apprecionado.

%p
  I am a web developer (mostly), from Perth, Western Australia.

%h1 Hacker..

%p
  When not enjoying the fruits of my home town, I like to tinker with web technologies. Always I am looking at the state of the art in software development, perusing various tech blogs & 
  %a{:href => 'http://news.ycombinator.com'} news
  %a{:href => 'http://lambda-the-ultimate.org/'} sites
  to keep my finger on the pulse (it's actually an interest of mine!) of what is new & which software design methodologies people are liking at the moment.

%p
  This is just a start, written in 
  %a{:href => 'http://middlemanapp.com'} Middleman,
  hopefully I will get more fleshed out soo, but until then, you may just want to look at my
  %a{:href => '/resume.html'} resume.