%h1 Current Projects

%h2 
  %a{:href => 'http://html-cleaner.heroku.com'} HTML Cleaner
%p
  This is a simple sinatra app for pulling out extraneous tags and attributes from HTML.
%p
  Website 
  %a{:href => 'http://html-cleaner.heroku.com'} here
%p
  Github source
  %a{:href => "http://github.com/nhemsley/html-cleaner"} here